body {
  padding: 0;
  margin: 0;
  background-color: #fffad9;
  }

/****************   Nav Section **********************/
nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #fffad9;
}

.nav p {
  padding: 0px 15px;
  margin: 0;
  background-color: #880112;
  border-radius: 20px;
} 

.nav a {
  color: #fffad9;
  text-decoration: none;
  font-weight: 700;
}

.nav a:hover {
  color:#f79ca2;
}

/***********************  Footer Section   **************************/
footer {
  display: flex;
  justify-content: center;
  color: #880112;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

footer p {
  color: #880112;
  text-decoration: none;
  background-color: transparent;
  transition: background-color 0.5s;
}

footer p:hover {
  background-color: #f79ca2;
}

/*********** Splash Page ************************/
header {
  display: flex;
  width: 100%;
  background-image:url("/images/splash_back.svg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;

  
  font-family: "Swanky and Moo Moo", cursive;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;

  color: #880112;
  box-sizing: border-box;
}

header h2 {
  padding: 0;
  font-size: 100px;
  max-width: 800px;
}

header h1 {
  font-family: "Swanky and Moo Moo", cursive;
  margin-top: 0;
  font-size: 7.5rem;
  color: #880112;
  max-width: 50rem;
}

header img {
  border-radius: 200px;
  align-self: flex-start;
  margin-bottom: -2rem;
  margin-left: 10%;
  margin-top: auto;
}

.address {
  font-size: 25px;
  display: flex;
  justify-self: flex-start;
  align-items: center;
  margin: -4.5rem 0 0 -4.5rem;
  max-width: 50rem;
  text-align: center;
}

.tagline {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  justify-content: flex-end;
  margin-top: auto;
  margin-bottom: 3rem;
  max-width: 75%
}

/************* Sections ********************/
hr {
  color: #880112;
}


section h3 {
  display: flex;
  font-family: "Swanky and Moo Moo", cursive;
  font-size: 38px;
  color: #880112;
  justify-content: center;
}

section h2 {
  display: grid;
  font-family: "Swanky and Moo Moo", cursive;
  font-size: 38px;
  color: #880112;
  padding-left: 10px;
  justify-content: center;
}

section dl {
  display: grid;
  gap: 4px 16px;
  font-family: "Raleway", sans-serif;
  color: #880112;
  border-radius: 10px;
  justify-content: center;
}

dt {
  font-weight: bold;
}

dd{
  grid-column-start: 2;
}
section ul {
  font-family: "Raleway", sans-serif;
  display: grid;
  list-style: none;
  gap: 10px;
  justify-content: center;
  justify-items: center;
}

section ul li {
  background-color: #880112;
  color: #fffad9;
  padding: 8px 16px;
  border-radius: 20px;
  max-width: fit-content;
}

section a {
  color:#880112;
  text-decoration: none;
  font-weight: bold;
  background-color: transparent;
  transition: background-color 0.5s;
}

section a:hover {
  text-decoration: underline;
  background-color: #f79ca2;
}

/**************   Projects   *****************/
.three-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 10px;
}

.card img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  border: 2px solid #880112;
}

.card {
  font-family: "DM Sans", sans-serif;
  width: 400px;
  padding: 20px;
  background-color: #fffad9;
  border: 6px solid #880112;
  box-shadow: 12px 12px 0 #880112;
  object-fit: cover;
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {

    header {
      display: flex;
      width: 100%;
      height: 100vh;
      background-image: none;

      font-family: "Swanky and Moo Moo", cursive;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 2rem;

      color: #880112;
      box-sizing: border-box;
    }

    header h1 {
    font-family: "Swanky and Moo Moo", cursive;
    font-size: 5rem;
    color: #880112;
  }

    header img {
      border-radius: 200px;
      justify-self: center;
      padding: 1rem;
      margin: 0;
      margin-left: 20%;
    }

    .address {
      font-size: 25px;
      display: flex;
      align-items: center;
      margin: 0;
      text-align: center;
    }

    .tagline {
      font-family: "Raleway", sans-serif;
      font-size: 20px;
      justify-content: center;
    }

    nav {
      flex-direction: column;
      align-items: flex-start;
      display: block;
      width: 100%;
      padding: 0rem;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
    }

    .nav p {
      border-radius: 0px;
      padding: 0.25rem;
  } 


    .three-col {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 40px;
    }
}

/**************   Contact Page   *****************/

.contact-title {
  display: flex;
  color: #880112;
  font-family: "Swanky and Moo Moo", cursive;
  margin-top: 0;
  font-size: 7.5rem;
  justify-content: center;
}

.contact-address {
  font-family: "Swanky and Moo Moo", cursive;
  font-size: 25px;
  color: #880112;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -4.5rem 0 0 0;
  text-align: center;
}

.one-col {
  font-family: "Raleway", sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 10px;
  padding: 20px;
  color: #880112;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px;
  border: 1px solid #f79ca2;
  border-radius: 4px;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px;
  border: 1px solid #f79ca2;
  border-radius: 4px;

}

button  {
  font-family: "Raleway", sans-serif;
  background-color: #880112;
  color: white;
  padding: 8px 30px;
  border-radius: 20px;
  border: none;
  display: block;
  margin: auto;
  font-size: medium;
}
